[Unit]
Description=Daily Reload rnm-go service
Documentation=https://github.com/CloudPassenger/rnm-go/
After=rnm-go.service

[Timer]
OnActiveSec=1d
OnUnitActiveSec=1d
RandomizedDelaySec=30min

[Install]
WantedBy=timer.target
